/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css ***!
  \*****************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap);
/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css (1) ***!
  \*********************************************************************/
* {
    font-family: 'Barlow', sans-serif;
 }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h6 {
	margin-top: 20px;
	margin-bottom: 10px;
}
/*!***************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/App.css ***!
  \***************************************************************/
.app-container {
    background-color: #ed1d23;
    width: 100%;
    min-height: 100vh;
}
/*!**********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Components/FormPedidos.css ***!
  \**********************************************************************************/
.pedirle-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgba(36, 36, 36, 0.281);
    z-index: 500;
    justify-content: center;
}
.pedirle-buttonCerrar {
    position: absolute;
    top: calc(55vh + 20px);
    right: calc(5% + 20px);
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #ed1d23;
    color: #fff;
    font-size: 18px;
    border: none;
    z-index: 110;
}
.formPedidos-container {
    background-color: rgba(26, 26, 26, 0.87);
    position: relative;
    display: flex;
    justify-content: center;
    top: 55vh;
    width: 90%;
    height: 270px;
}
.pedirle-confirmacion {
  position: absolute;
  width: 90%;
  height: 270px;
  top: 55vh;
  z-index: 100;
  display: flex;
  justify-content: start;
  align-items: flex-end;
}
.pedirle-confirmacion h1 {
  font-size: 20px;
  color: #ed1d23;
  margin: 20px;
}
.h6Pedido{
  position: absolute;
  color: #fff;
  top: -35px;
  left: 0;
}
.formPedidos {
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.textareaPedido {
  margin-top: 10px;
  resize: none;
}
.inputFecha {
  width: 70%;
  margin-top: 2px;
  text-align: center;  
}
.button-31 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #1d1d1d;
    cursor: pointer;
    font-weight: 600;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

  .pedirle-buttonCerrar {
    cursor: pointer;
  }

  @media screen and (min-width: 600px) {
    .pedirle-container {
      cursor:pointer;
    }
    .formPedidos-container {
      top: 25vh;
      min-width: 340px;
      width: 30%;
      height: 300px;
   }
   .pedirle-confirmacion {
     top: 25vh;
      min-width: 340px;
      width: 30%;
      height: 300px;
  }
  .pedirle-confirmacion h1 {
      margin: 40px 55px;
  }
  .formPedidos {
      height: 200px;
      top: 50px;
      padding-top: 20px;
  }
    .pedirle-buttonCerrar {
      position: absolute;
      top:calc(25vh + 10px);
      left: calc(65% - 40px);
  }
    .h6Pedido {
    top:-10px;
  }
}
/*!*************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Layout/CarrouselSecciones.css ***!
  \*************************************************************************************/
.carrousel-container{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    left: 0;
    z-index: 700;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.carrousel-container div:nth-child(1) {
    background-color: tomato;
}
.carrousel-container div:nth-child(2) {
    background-color: rgb(255, 191, 71);
}
.carrousel-container div:nth-child(3) {
    background-color: rgb(252, 255, 71);
}
.carrousel-container div:nth-child(4) {
    background-color: rgb(255, 92, 71);
    margin-right: 30px;
}
.carrousel-item {
    margin: 20px 0 20px 30px;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 80px;
}
.carrousel-item:hover{
    cursor: pointer;
}
.carrousel-item h2 {
    width: 200px;
}
.carrousel-item p {
    
}

@media screen and (min-width: 600px) {
    .carrousel-container {
        position: absolute;
        background-color: none;
        top: 50px;
        left: 50px;
        flex-direction: column;
        width: 300px;
        overflow-x: hidden;
    }
    .carrousel-item {
        width: 250px;
        margin: 10px;
    }
    .carrousel-item h2 {
        width: 200px;
    }
}
/*!**********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Layout/ModalEncabezado.css ***!
  \**********************************************************************************/
.encabezado-fondo{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.726);
    width: 100%;
    height: 100vh;
    top:0;
    z-index: 1000;
    animation-name: opac;
    animation-duration: 1s;
}
@keyframes opac {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.encabezado-fondo.cerrando {
    animation-name: cerrando;
    animation-duration: 1s;
}
@keyframes cerrando {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.encabezado-container{
    position: relative;
    width: 80%;
    left: 10%;
    height: calc(100vh - 200px);
    top: 80px;
    padding-top: 20px;
    background-color: antiquewhite;
}

.encabezado-container button {
    position: fixed;
    right: calc(10% + 20px);
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #ed1d23;
    color:antiquewhite;
    font-size: 20px;
    padding-bottom: 10px;
    border: none;
    z-index: 110;
}
.encabezado-textos {
    position: relative;
    top: 0px;
    height: 95%;
    overflow-y: scroll;
}
.encabezado-textos h2 {
    margin: 0 20px;
    font-size: 28px;
}
.encabezado-textos h3 {
    margin: 0 20px;
}
.encabezado-textos p {
    margin: 20px;
}

@media screen and (min-width: 600px) {
    .encabezado-container{
        position: relative;
        width: 60%;
        left: 20%;
    }
    .encabezado-textos {
        overflow-y: visible;
    }
    .encabezado-container button {
        right: calc(20% + 20px);
    }
}


/*!**************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Secciones/Arte.css ***!
  \**************************************************************************/
.seccion-container {
    margin-left: 0px;
}

@media screen and (min-width: 600px) {
    .seccion-container {
        margin-left: 60px;
    }
}

/*!***********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Secciones/Publicaciones.css ***!
  \***********************************************************************************/

/*!**********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Components/Publicacion.css ***!
  \**********************************************************************************/
.publicacion-container{
    position: relative;
    margin-top: 20px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.publicacion-container:hover {
    cursor: pointer;
}
.publicacion-container img {
    width: 50px;
    height: 50px;
    left: 10px;
    top: 10px;
}

.publicacion-container p {
    margin-left: 15px;
}


/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Layout/ElPdf.css ***!
  \************************************************************************/
.elPdf-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: -240px;
    left: -30px;
    margin: 0;
    z-index: 700;
}
.elPdf-iframe {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 800;
}
.elPdf-cerrar {
    position: absolute;
    background-color: #ed1d23;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    top: 40px;
    left: 40px;
    width: 60px;
    height: 40px;
    z-index: 900;
    border: none;
    border-radius: 5px;
}
.elPdf-cerrar:hover{
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .elPdf-iframe {
        position: relative;
        top: 200px;
        width: 50%;
        height: 400px;
    }
    .elPdf-cerrar {
        position: absolute;
        top: 550px;
        left: calc(50% - 85px);
    }
}
/*!********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Secciones/Santuarios.css ***!
  \********************************************************************************/

/*!***************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Secciones/Altar.css ***!
  \***************************************************************************/

.altar-container {
    position: relative;
    width: 70%;
    height: calc(100% - 100px);
    left: 15%;
    top: 40px;
    display: flex;
    justify-content: center;
}
.altar-container:hover{
    cursor: pointer;
}
.pent1, .pent2, .gaucho{
    position: absolute;
    width: 150px;
}

.botones-container {
    position: relative;
    width: calc(100% - 20px);
    bottom: 35px;
    margin-top: auto;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.instrucciones {
    font-weight: 400;
    font-size: 16px;
}
.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #1d1d1d;
    cursor: pointer;
    font-weight: 600;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    margin-right: 0px;
    z-index: 400;
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }
  .pent1.active {
    filter: drop-shadow(0 0 40px #ffe600);
    transition: filter 2s;
  }

  @media screen and (min-width: 600px) {
    .altar-container {
      position: absolute;
      top: 0;
      width: 100vw;
      height: 400px;
      left: -350px;
    }
    .pent1, .pent2, .gaucho{
      position: absolute;
      width: 200px;
    }
    .botones-container {
      position: absolute;
      justify-content: center;
      margin-top: 0px;
      height: 500px;
      top:inherit;
      gap: 20px;
      width: 100vw;
      left: -350px;
    }
    .instrucciones {
        font-size: 18px;
    }
  }
/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Components/Pedido.css ***!
  \*****************************************************************************/
@keyframes display {
    0% {
      transform: translateX(-1100px) translateY(0px);
      opacity: 0;
    }
    50% {
      transform: translateX(0) translateY(0px);
      opacity: 1;
    }
    100% {
      transform: translateX(1100px) translateY(0px);
      opacity: 0;
    }
  }

.pedido-container {
    width: 200px;
    z-index: 300;
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
    height: 60px;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display infinite ease;
}
.pedido-texto {
    margin: 5px;
    font-size: 12px;
}
.pedido-ofrenda {
    margin: 5px;
    /*position: absolute;*/
    top: 0px;
    float: right;
    font-size: 24px;
}
.pedido-fecha {
    font-size: 10px;
    margin: 5px;
}

/*!******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Components/Pedidos.css ***!
  \******************************************************************************/
.pedidos-container {
    position: absolute;
    height: 200px;
    width: 100%;
    bottom: -10px;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .pedidos-container {
        position: absolute;
      top: 270px;
      width: 50vw;
      overflow: hidden;
      height: 400px;
      left: calc(50vw -400px) ;
    }

    
}
  
/*!***********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Layout/Home.css ***!
  \***********************************************************************/
.home-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.titulo-container {
    position:relative;
    top: 25px;
    width: 100%;
}
.titulo-container:hover {
    cursor: pointer;
}
.titulo {
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}
.secciones-container {
    position: relative;
    width: calc(100% -  60px);
    margin-left: 30px;
    margin-top: 30px;
    height: calc(100vh - 260px);
}
.tituloSeccion-container{
    position: relative;
}
.tituloSeccion {
    font-size: 30px;
    color: #fff;
}

@media screen and (min-width: 600px) {
    .titulo {
        font-size: 70px;
    }
    .titulo-container {
        top: 50px;
        left: calc(50% - 250px);
        width: 500px;
    }
    .secciones-container {
        position: absolute;
        width: calc(100vw - 400px);
        top: 120px;
        left: 350px;
        margin-left: 0px;
    }
    .tituloSeccion-container {
        margin-left: 60px;
    }
}



