.pedidos-container {
    position: absolute;
    height: 200px;
    width: 100%;
    bottom: -10px;
    text-align: center;
}

.test {
    display: none;
}

@media screen and (min-width: 600px) {
    .pedidos-container {
        position: absolute;
        width: 200px;
        height: 400px;
        right: -200px;
        /*background-color: blueviolet;*/
        top: calc(50vh - 250px);
        margin: 0;
      overflow: hidden;
    }

    
}
  