.publicacion-container{
    position: relative;
    margin-top: 20px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.publicacion-container:hover {
    cursor: pointer;
}
.publicacion-container img {
    width: 50px;
    height: 50px;
    left: 10px;
    top: 10px;
}

.publicacion-container p {
    margin-left: 15px;
}
.icono-publicaciones {
    font-size: 20px;
    margin-right: 7px;
}

.anchor-pub {
    color: black;
}

